@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  min-width: 375px;
  max-height: 600px; /* Adjust based on content */
  overflow-y: auto; /* Allow scrolling */
  background-color: #090b1af2;
  font-family: "Manrope", sans-serif;
}

#root {
  width: 100%;
  height: auto;
  overflow-y: auto;
}

/* Ensure scrollbar is visible */
::-webkit-scrollbar {
  width: 0px; /* Hide scrollbar in Chrome/Safari */
  height: 0px;
  background: transparent;
}


@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
  }
}

.spinner {
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  margin: auto;
}
button{
  cursor: pointer;
}
.spinner > div {
  background-color: white;
  height: 100%;
  width: 6px;
  display: inline-block;
  margin: 1px;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.custom-input::placeholder {
  color: white;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 0s, color 0s 0s;
  transition-delay: calc(infinity * 1s);
}
